body {
  background-image: url("../img/panoramica_hotel.jpg");
}

body #container_index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

body #container_index .panel {
  display: block;
  width: 40%;
  height: 35%;
  background-color: #423d3d;
  opacity: 0.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid black 1px;
  border-radius: 20px;
}

body #container_index .panel .title {
  color: white;
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #container_index .panel .subtitle {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

body #container_index .panel .linea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid #db8383 1px;
  width: 92%;
  margin: 20px;
}

body #container_index .panel .izde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

body #container_index .panel .left {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  background-color: #008cff;
  border: solid black 1px;
  border-radius: 5px;
}

body #container_index .panel .left a {
  text-decoration: none;
  font-size: 2em;
  color: white;
}

body #container_index .panel .left a:hover {
  color: black;
}

body #container_index .panel .left .img img {
  width: 50px;
  height: 50px;
}

body #container_index .panel .right {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  background-color: #19c259;
  border: solid black 1px;
  border-radius: 5px;
}

body #container_index .panel .right a {
  text-decoration: none;
  font-size: 2em;
  color: white;
}

body #container_index .panel .right a:hover {
  color: black;
}

body #container_index .panel .right .img img {
  width: 50px;
  height: 50px;
}
/*# sourceMappingURL=body.css.map */