
body{
    height:100vh;
    background-image: url("../img/panoramica_hotel.jpg");
    background-repeat: no-repeat;
    #container_index{
        display: flex;
        //align-items: center;
        justify-content: center;
        height:80vh;
        
        .panel{
            margin-top: 10vh;
            display:block;
            width: 40%;
            height: 35vh;
            background-color:rgb(66, 61, 61) ;
            opacity: 0.9;
            align-items:center;
            justify-content:center;
            border: solid black 1px;
            border-radius: 20px;

            
            .title{
                color: white;
                font-size: 3rem;
                margin-top: 30px;
                display: flex;
                align-items:center;
                justify-content: center;
                font-family: 'Bad Script', cursive;
                letter-spacing: 5px;
                
            }
            .subtitle{
                margin:10px;
                display: flex;
                align-items:center;
                justify-content: center;
                color: white;
                font-family: 'Bad Script';
                letter-spacing: 5px;
               }
            .linea{
                display: flex;
                align-items:center;
                justify-content: center;
                border: solid rgb(219, 131, 131) 1px;
                width: 92%;
                margin: 20px;
                
            }
            .izde{
                display: flex;
                align-items:center;
                justify-content: center;
                

            }
            .left{
                margin: 10px;
                display:flex;
                align-items: center;
                justify-content:center;
                //height: 50%;
                width: 40%;
                opacity: 0.9;
                background-color: rgb(87, 161, 221);
                border: solid black 1px;
                border-radius: 5px;
                

                a{
                    
                    letter-spacing: 5px;
                    text-decoration: none;
                    font-size: 2em;
                    color:white;
                    
                }
                a:hover{
                    color:black;
                }
                .img img{
                    width: 50px;
                    height: 50px;
                }
            }
            .right{
                margin: 10px;
                display:flex;
                align-items: center;
                justify-content: center;
                //height: 50%;
                width: 40%;
                opacity: 0.9;
                background-color: rgb(87, 173, 120);
                border: solid black 1px;
                border-radius: 5px;

                a{
                    letter-spacing: 5px;
                    text-decoration: none;
                    font-size: 2em;
                    color:white;
                    
                }
                a:hover{
                    color:black;
                }
                .img img{
                    width: 50px;
                    height: 50px;
                }
            }
        }

        


        
        
    }
    

}