*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../img/panoramica_hotel.jpg");
    background-repeat: no-repeat;
    
    .container_user{
        display: block;
        align-items: center;
        justify-content: center;
        height: 80vh;
        width: 100vh;
        .user{
            background-color: rgb(155, 76, 76);
            color:white;
            text-align: center;
            border-radius: 5px;
            
        }

        .container_client{
            display: flex;
            align-items: center;
            justify-content: center;
            
           
            .left{
                margin: 10px;
                display:flex;
                align-items: center;
                justify-content:center;
                height: 100px;
                width: 100%;
                opacity: 0.9;
                background-color: rgb(87, 161, 221);
                border: solid black 1px;
                border-radius: 5px;
                a{
                    text-decoration: none;
                    color: white;
                }
        
            }
        
            .right{
                margin: 10px;
                display:flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                width: 100%;
                opacity: 0.9;
                background-color: rgb(87, 173, 120);
                border: solid black 1px;
                border-radius: 5px;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        
        }
    }
    
}
    
    




