
body{
    height: 100vh;
    width: 100%;
    background-image: url("../img/panoramica_hotel.jpg");
    background-attachment:fixed;
    
    display: flex;
    align-items:center;
    justify-content:center;

    h1, h2{
        text-align: center;
        text-justify: center;
        letter-spacing: 2px;
        font-family: 'Mate SC', serif;
        margin-bottom: 20px;
        color: white;
        
    }

    .container_rooms{
    height: 75vh;
    display:inline-block;
    align-items:center;
    justify-content:space-around;
     

    .room1{
        background-color:rgb(138, 135, 132);
        display:flex;
        align-items: center;
        justify-content: center;
        border:solid black;
        border-radius: 10px;
        .login_form{
            display:flex;
            align-items:center;
            justify-content: center;


            .individual{
                
                h2{
                    border: solid black 1px;
                }
            }
            form{
                display:block;
                align-items:center;
                justify-content: center;

            }
            form *{
                width: 100%;
            }
            h3, h1, p, h2{
                margin-top:20px ;
                margin-bottom: 10px;
                text-align: center;
                color: black;
            }
            h1, h3, p, h2{
                letter-spacing: 2px;
                font-family: 'Mate SC', serif;
            }
            p{
            
                margin-bottom: -10px;
            }
            
        
            input[type='text'], input[type='password'],input[type='date'],input[type='number']{
                outline:none;
                margin: 15px auto;
                //margin-left:30vh;
                border-radius: 7px;
                border: 1px solid black;
                display: block;
                padding: 10px;
                width:250px;
            }
            input[type='submit']{
                display: block;
                padding: 10px;
                width: 150px;
                color: white;
                background-color: rgb(79, 182, 113);
                border-radius:5px;
                cursor:pointer;
                //margin-left:35vh;
                margin: 15px auto;
                
            }
            input[type='submit']:hover{
                background-color: rgb(228, 92, 92);
            }
            
            .button_registrate{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top:5px ;
                margin-bottom: 10px;
                
                a{
                color: white;
                text-decoration: none;
                outline:none;
                margin: 15px;
                border-radius: 7px;
                border: 1px solid black;
                display: block;
                padding: 10px;
                background-color:rgb(228, 92, 92);
                
                }
                a:hover{
                background-color: rgb(93, 165, 143);
                }
                
            }    
        }

    }
    
    

}
}