.container_rooms{
    display:inline-block;
    align-items:center;
    justify-content:space-around;
    // background-color:chartreuse;

    .room1{
        display:flex;
        align-items: center;
        justify-content: center;
        border:solid black;
        

    }
    .room2{
        display:flex;
        align-items: center;
        justify-content: center;
        border:solid black;
        

    }
    .room3{
        display:flex;
        align-items: center;
        justify-content: center;
        border:solid black;
    }

}