*{
    margin: 0;
    padding: 0;
}
#container{
    width: 100%;
    height: 15vh;
    opacity: 0.5;
    .first_header{
        background-color: black;
        align-items: center;
        justify-content:flex-end;
        display:flex;

        a{
            text-decoration: none;
            color: white;
            padding: 30px;
        }

        
    }

    .second_header{
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        height: 10vh;
        .h_logo img {
            width: 250px;
            height: 250px;
        }
        h1{
            font-size: 2.5rem;
            letter-spacing: 10px;
            font-family: 'Mate SC', serif;
            margin-right: 20px;
            margin-left: -20px;
        }
        .logo_estrellas img {
           width: 100px;
        }
    }
    
}