body{
    display:flex;
    align-items: center;
    justify-content: center;
}
.container-form{
    
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(90, 135, 218);
    width: 450px;
    border-radius: 20px;
    
    
    
    .login-form{
        display:flex;
        align-items:center;
        justify-content: center;
        
        
        
        h3, h1{
            
            text-align: center;
            color: white;
        }
    
        input[type='text'], input[type='password']{
            outline:none;
            margin: 15px;
            border-radius: 3px;
            border: 1px solid black;
            display: block;
            padding: 10px;
            width:250px;
        }
        input[type='submit']{
            padding: 10px;
            width: 150px;
            color: white;
            background-color: rgb(50, 150, 83);
            border-radius:5px;
            cursor:pointer;
        }
        input[type='submit']:hover{
            background-color: rgb(194, 53, 107);
        }
        a{
            text-align: center;
        }
    }
}

