* {
  margin: 0;
  padding: 0;
}

.container_general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/panoramica_hotel.jpg");
  height: 100vh;
}

.container_general .container_form {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5c5ada;
  border-radius: 20px;
}

.container_general .container_form .login_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_general .container_form .login_form .arrow {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container_general .container_form .login_form .arrow img {
  width: 40px;
  height: 40px;
}

.container_general .container_form .login_form .arrow .arrow a {
  color: black;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: 'Mate SC', serif;
}

.container_general .container_form .login_form .arrow a:hover {
  color: white;
}

.container_general .container_form .login_form h3, .container_general .container_form .login_form h1, .container_general .container_form .login_form p {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.container_general .container_form .login_form h1, .container_general .container_form .login_form h3, .container_general .container_form .login_form p {
  letter-spacing: 2px;
  font-family: 'Mate SC', serif;
}

.container_general .container_form .login_form p {
  margin-bottom: -10px;
}

.container_general .container_form .login_form input[type='text'], .container_general .container_form .login_form input[type='password'] {
  outline: none;
  margin: 15px;
  border-radius: 7px;
  border: 1px solid black;
  display: block;
  padding: 10px;
  width: 250px;
}

.container_general .container_form .login_form input[type='submit'] {
  padding: 10px;
  width: 150px;
  color: white;
  background-color: #4fb671;
  border-radius: 5px;
  cursor: pointer;
}

.container_general .container_form .login_form input[type='submit']:hover {
  background-color: #e45c5c;
}

.container_general .container_form .login_form .linea {
  border: 1px solid black;
  margin: 15px;
}

.container_general .container_form .login_form .button_registrate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.container_general .container_form .login_form .button_registrate a {
  color: white;
  text-decoration: none;
  outline: none;
  margin: 15px;
  border-radius: 7px;
  border: 1px solid black;
  display: block;
  padding: 10px;
  background-color: #e45c5c;
}

.container_general .container_form .login_form .button_registrate a:hover {
  background-color: #5da58f;
}
/*# sourceMappingURL=login.css.map */