
    *{
        margin: 0;
        padding: 0;
    }

    .container_form_sing_up{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    height: 100vh;
    .container_form{
        background-color: brown;

    }
    }

